
<section>

    <div id="header" class="df jc-sb">
        <div class="df">
            <img class="logo" src="/assets/images/netflix-logo.png" alt="netflix-logo">
            <!-- <div id="navegation">
                <span>Inínio</span>
            </div> -->
            <!-- <ul id="navegation">
                <li>Inínio</li>
                <li>Séries</li>
                <li>Filmes</li>
                <li>Bombando</li>
                <li>Minha lista</li>
            </ul> -->
        </div>
        <!-- <div id="navegation-options">filtros</div> -->
    </div>

</section>